/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; }

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }


/**--------------------------------------------------------------------------------------------
 * Primary styles
 *
 * Author: 
 */
/*  Typography presets
    ------------------  */

.gigantic {
    font-size: 110px;
    line-height: 120px;
    letter-spacing: -2px;
}

.huge, h1 {
    font-size: 68px;
    line-height: 72px;
    letter-spacing: -1px;
}

.large, h2 {
    font-size: 42px;
    line-height: 48px;
}

.bigger, h3 {
    font-size: 26px;
    /*line-height: 36px;*/
    line-height: 48px;
}

.big, h4 {
    font-size: 22px;
    /*line-height: 30px;*/
    /*line-height: 24px;*/
    line-height: 48px;
}

body {
    /*font: 16px/24px Georgia, serif;*/
    /*font: 16px/24px Consolas, monospace;*/
    /*font: 12px/16px Consolas, monospace;*/
    /*font: 16px/24px Consolas, monospace;*/
    /*font: 16px/24px sans-serif;*/
    /*font-family: arial, helvetica, sans-serif;*/
    font-family: 'Neucha', helvetica, sans-serif;
    /*font-size: 16px/24px;*/
    font-size: 16px;
    line-height: 24px;
    background: #1F1E1D;
    /*padding: 72px 48px 84px;*/
    padding: 24px;

    /*background: white url('../img/gridbg25.gif');*/
    /*background: white url('../img/darkgridbg24.gif');*/
}

.small, small {
    font-size: 13px;
    /*line-height: 18px;*/
    line-height: 24px;
}
/* end typography */

div#container {
    background: #1F1E1D;
    /*color: white;*/
    color: #eee;
}
.lang-link.selected {
    border-bottom: 1px dotted;
}

#about {
    width: 620px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#home {
    color: white;
}

#home:hover {
    text-decoration: none;
    color: #036; 
}

li.addon {
    /*margin-top: 25px;*/
    list-style: none;
    /*display: inline-block;*/
    float: left;
    /*border: 1px solid white;*/
    /*background: #3CF;*/
    width: 256px;
    /*width: 128px;*/
    /*height: 350px;*/
    /*margin: 10px;*/
    /*margin: 25px 10px 0 10px;*/
    /*margin: 25px 10px 16px 10px;*/
    /*margin: 0 10px 16px 10px;*/
    margin: 0 10px 0 10px;
    /*text-align: center;*/
}

li.addon.tiny {
    width: 128px;
}

li.addon.tiny h4 {
    font-size: 18px;
}

.addon ul {
    /*border: 1px solid white;*/
    /*padding: 0;*/
    /*margin: 0;*/
}

.description {
    /*text-align: justify;*/
    margin-bottom: 24px;
}


/*.addon .icon:hover {*/
.addon:hover {
    /*-webkit-box-shadow: 5px 5px 5px white;*/
    /*border: 1px solid white;*/
    /*-webkit-box-shadow: -5px 0 5px white;*/
    /*color: white;*/
    /*opacity:0.4;*/
    /*filter:alpha(opacity=40);*/
}

.addon-info:hover {
    /*opacity: 1;*/
    /*filter:alpha(opacity=100);*/

}
nav h1 {
    font-size: 42px;
    line-height: 48px;
}


.addon li {
    list-style: none;
}

.custom-icon {
    height: 256px;
    width: 256px;
    /*height: 128px;*/
    /*width: 128px;*/
    /*margin: 0 auto;*/
    border-radius: 11px;
    /*margin-bottom: 19px;*/
}
img.icon {
    /*height: 128px;*/
    /*width: 128px;*/
    height: 256px;
    width: 256px;
    /*margin: 0 auto;*/
    border-radius: 15px;
    /*margin-bottom: 19px;*/
}

.addon.tiny img {
    height: 128px;
    width: 128px;
}

div.icon {
    /*margin-bottom: 26px;*/
    margin-bottom: 23px;
}

.clickable .addon:hover {
  cursor: pointer;
}

.addon h4 {
    line-height: 24px;
    margin: 12px 0;

}

header {
    margin-bottom: 48px;
}

.clickable .addon:hover h4 {
  /*text-shadow: 0 0 5px white, 0 0 5px white;*/
  text-shadow: 0 0 5px white;
}

#filters ul, #sort ul {
    /*margin: 0;*/
    margin-bottom: 24px;
}

#filters li, #sort li {
    display: inline-block;
    list-style: none;
    font-size: 22px;
    line-height: 48px;
    font-weight: bold;
    /*float: left;*/
}

#filters a, #sort a {
    background: #111;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}
#filters a:hover, #sort a:hover {
    /*color: white;*/
    background: white;
}

.addon-info {
    /*margin-top: 15px;*/
    margin-left: 0;
    margin-bottom: 24px;
    /*padding-top: 5px;*/
    /*border-top: 1px solid #eee;*/
}


aside {
    /*margin: 50px 12px;*/
    margin-top: 48px;
    /*position: fixed;*/
    float: left;
    width: 252px;
    padding-right: 24px;
}

footer {
    /*bottom: 0px;*/
    margin-bottom: 24px;
    left: 24px;
    /*position: fixed;*/
}

#main {
    /*margin-left: 344px;*/
    margin-left: 252px;
    padding-left: 24px;
}

.detailed {
    /*margin-top: 5px;*/
}

time {
    font-style: italic;
}

/* colors for different types of addons */
/*.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }*/
/*.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }*/
/*.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }*/
/*.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }*/
/*.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }*/
/*.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }*/
/*.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }*/
/*.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }*/
/*.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }*/
/*.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }*/


/*.addon.video h4          { background: #F00; background: hsl(   0, 100%, 50%); }*/
/*.addon.audio h4  { background: #F80; background: hsl(  36, 100%, 50%); }*/
/*.addon.image h4      { background: #FF0; background: hsl(  72, 100%, 50%); }*/
/*.addon.program h4        { background: #0F0; background: hsl( 108, 100%, 50%); }*/
/*.addon.module h4      { background: #0F8; background: hsl( 144, 100%, 50%); }*/

/*.addon.video h4          { color: #F00; color: hsl(   0, 100%, 50%); }*/
.addon.video h4{ color: #FF0; color: hsl( 0, 100%, 50%); }
.addon.audio h4  { color: #F80; color: hsl(  36, 100%, 50%); }
.addon.image h4      { color: #FF0; color: hsl(  72, 100%, 50%); }
.addon.program h4        { color: #0F0; color: hsl( 108, 100%, 50%); }
.addon.module h4      { color: #0F8; color: hsl( 144, 100%, 50%); }
.addon.script h4 { color: #0FF; color: hsl( 180, 100%, 50%); }
.addon.scraper h4        { color: #08F; color: hsl( 216, 100%, 50%); }
.addon.skin h4 { color: #00F; color: hsl( 252, 100%, 50%); }
.addon.webinterface h4         { color: #F0F; color: hsl( 288, 100%, 50%); }
/*.addon.module h4  { color: #00F; color: hsl( 252, 100%, 50%); }*/


/* make filter links the same color */
a[data-filter=".video"] { color: #FF0; color: hsl( 0, 100%, 50%); }
a[data-filter=".audio"] { color: #F80; color: hsl(  36, 100%, 50%); }
a[data-filter=".image"] { color: #FF0; color: hsl(  72, 100%, 50%); }
a[data-filter=".program"] { color: #0F0; color: hsl( 108, 100%, 50%); }
a[data-filter=".module"] { color: #0F8; color: hsl( 144, 100%, 50%); }
a[data-filter=".script"] { color: #0FF; color: hsl( 180, 100%, 50%); }
a[data-filter=".scraper"] { color: #08F; color: hsl( 216, 100%, 50%); }
a[data-filter=".skin"] { color: #00F; color: hsl( 252, 100%, 50%); }
a[data-filter=".webinterface"]     { color: #F0F; color: hsl( 288, 100%, 50%); }
/*a[data-filter=".module"] { color: #00F; color: hsl( 252, 100%, 50%); }*/

/*a[data-filter=".video"] { background: #0FF; background: hsl( 180, 100%, 50%); }*/
/*a[data-filter=".audio"] { background: #F80; background: hsl(  36, 100%, 50%); }*/
/*a[data-filter=".image"] { background: #FF0; background: hsl(  72, 100%, 50%); }*/
/*a[data-filter=".program"] { background: #0F0; background: hsl( 108, 100%, 50%); }*/
/*a[data-filter=".module"] { background: #0F8; background: hsl( 144, 100%, 50%); }*/


/* Text color in addon */
/*.addon.video { color: #0FF; color: hsl( 180, 100%, 50%); }*/
/*.addon.audio   { color: #F80; color: hsl(  36, 100%, 50%); }*/
/*.addon.image       { color: #FF0; color: hsl(  72, 100%, 50%); }*/
/*.addon.program         { color: #0F0; color: hsl( 108, 100%, 50%); }*/
/*.addon.module       { color: #0F8; color: hsl( 144, 100%, 50%); }*/






/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/* End: Recommended Isotope styles */


 /*[> Shared styles <]*/
/*.drop-shadow {*/
    /*position:relative;*/
    /*float:left;*/
    /*[>width:40%;   <]*/
    /*padding:1em;*/
    /*margin:2em 10px 4em;*/
    /*background:#fff;*/
    /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
/*}*/

/*.drop-shadow:before, .drop-shadow:after {*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index:-2;*/
/*}*/

/*.drop-shadow p {*/
    /*font-size:16px;*/
    /*font-weight:bold;*/
/*}*/











/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: block; overflow:hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

