{% extends 'base.html' %}

{% block aside_content %}
{% endblock %}

{% block content %}
<div id="about">
    <h3>About</h3>
    <p>I built this page as a way to browse addons from the web. The generation script is basically some python
    glue encompassing many different helpful tools.
    <ul>
        <li><a href="">Jinja2</a> for html templating.</li>
        <li><a href="">HTML5 Boilerplate</a> for the build scripts which concat and minify resources and cut down on .png image size.</li>
        <li><a href="">Isotope</a> for the slick animations (and the colorscheme as well!)</li>
        <li><a href="">LessFramework</a> for column width inspiration.</li>
        <!--<li><a href="">Jinja2</a> for html templating.</li>-->
        <!--<li><a href="">Jinja2</a> for html templating.</li>-->
        <!--<li><a href="">Jinja2</a> for html templating.</li>-->
    </ul>
</div>
{% endblock %}

