<div id="filters"><h4>Addon Type</h4>
    <ul id="filter-type">
        <li class="filter"><a href="#" data-filter="*">show all</a></li>
        <li class="filter"><a href="#" data-filter=".video">video</a></li>
        <li class="filter"><a href="#" data-filter=".audio">audio</a></li>
        <li class="filter"><a href="#" data-filter=".image">image</a></li>
        <li class="filter"><a href="#" data-filter=".program">program</a></li>
        <li class="filter"><a href="#" data-filter=".script">script</a></li>
        <li class="filter"><a href="#" data-filter=".scraper">scraper</a></li>
        <li class="filter"><a href="#" data-filter=".skin">skin</a></li>
        <li class="filter"><a href="#" data-filter=".webinterface">web interface</a></li>
        <!--<li><a href="#" data-filter=".module">module</a></li>-->
    </ul>
</div>
